.navigation{
  width:100%;
}
.visuallyhidden{
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
.expanded{
  width:auto;
}
.main[deep='0'] {
  color: black;
  position: relative;
  display: block;

  & > [deep='0'] {
    width: 16.6666%;
    display: block;
    display: inline-block;
    border: 1px solid red;
    text-align: center;
  }
}

.container {
  display: none;
}
