.main[deep='0'] {
  color: black;
  position: relative;
  display: block;

  & > .item {
    width: 16.6666%;
    display: block;
    display: inline-block;
    border: 1px solid red;
    text-align: center;
  }
}

.container {
  display: none;
}
.blur{
  width:auto;
}
.list{
  border:1px solid purple;
  background-color:gray;
  color:white;
}



.focus{
  width:auto;
  & >*:focus{
    background-color:black;
  }
}

.list.hover,.list:hover {
  position: relative;
    & > .container {
      display: block;
      position: absolute;
      border: 1px solid black;
      width: 100%;

      .container {
        left: 100%;
        top: 0;
        transform: translateX(10px);
        &::after {
          content: '';
          width: 10px;
          height: 100%;
          top: 0;
          position: absolute;
          left: -10px;
        }
      }
    }
}
