@import './style/reset.scss';

html {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Open Sans";
overflow:hidden;
height:10000px;
}



.block {
  overflow: hidden;
  color: red;
}

.test {
  position: absolute;
  width: 100px;
  height: 100px;
  color: red;
  font-size: 16px;
}


@include media ('zerro','sm-phone') {
  body {
    //overflow-x: hidden;
  }
}
